<div class="container" [ngStyle]="{'background': background}">
  <div class="part-1">
    <h1 class="heading">Gradient Control Demo</h1>
    <div class="control-container">
      <gradient-control class="control" (onColorRemove)="onColorRemove($event)" (onColorAdd)="onColorAdd($event)" (onColorControlActivate)="selectPin($event)" (onColorSlideStart)="onColorSlideStart($event)" (onColorSliding)="onColorSliding($event)" (onColorSlideEnd)="onColorSlideEnd($event)"
        [(colorArray)]="colorArray" (colorArrayChange)="changeGradient()"></gradient-control>
<!--      <rotate-control [(angle)]="angle" [radius]="angleOption.radius" [borderColor]="angleOption.borderColor" [borderWidth]="angleOption.borderWidth" (angleChange)="changeGradient()"></rotate-control>-->
      <select [(ngModel)]="type" (change)="changeGradient()">
        <option value="Linear">Linear</option>
        <option value="Radial">Radial</option>
      </select>
    </div>
  </div>
  <div class="part-2">
    <pre>{{ colorArray | json }}</pre>
    <p class="css">{{background}}</p>
  </div>
</div>
