<div class="container" [ngStyle]="{'background': background}">
    <div class="part-1">
        <h1 class="heading">Gradient Control Demo</h1>
        <div class="control-container">
            <gradient-control class="control" (onColorRemove)="onColorRemove($event)" (onColorAdd)="onColorAdd($event)" (onColorControlActivate)="selectPin($event)" (onColorSlideStart)="onColorSlideStart($event)" (onColorSliding)="onColorSliding($event)" (onColorSlideEnd)="onColorSlideEnd($event)"
                [(colorArray)]="colorArray" (colorArrayChange)="colorArrayChange($event)"></gradient-control>
        </div>
    </div>
    <div class="part-2">
        <pre>{{ colorArray | json }}</pre>
    </div>
</div>